div {
  display:inline-block;
  padding-right: 5px;
}

.style1 {
  color: purple;
  text-decoration: underline;
}

.style2 {
  font-family: cursive;
  font-size: 30px;
}

.style3 {
  color: red;
  font-family: Arial;
}

.style4 {
  border: 2px dotted blue;
  font-weight: bold;
}

.style5 {
  font-size: 5px;
  background-color: green;
}

.style6 {
  border: 2px solid aqua;
  border-radius: 100%;
}

.style7 {
  color: orange;
  background-color: black;
}
